* {
  box-sizing: border-box;
}

header {

  text-align: center;
  color:white;
  font-size: 14px;
  margin-top: auto;
  }
  

  .logo {
    width: 35px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    float: left;
    }
    

topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* nav styles */
.container {
position: absolute;
margin: 20px;
width: auto;
}
/* The navbar */
.topnav {
overflow: hidden;
background-color: black;
float:right;
}
/* Navbar links */
.topnav a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 12px;
}
.topnav a:hover {
background-color: #ddd;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
/* nav styles */

nav .menu{
float: right;
padding-top: 10px;
padding-bottom: 0px;
padding-right: 30px;
color: white;
font-size: 12px;

}


.bg-img {
  /* The image used */
  background-image: url("/img/andrew-neel-cckf4TsHAuw-unsplash.jpg");


 /* Control the height of the image */
height:100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 z-index: -1;
}

/* Add styles to the form container */

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;

  padding: 10px;
  position: absolute;
 right: 0;
 margin: 20px;
 max-width: 300px;
 padding: 16px;

 align-content: flex-start;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;

  padding: 20px;
}


  .container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    top: 95px;
    left: 90px;
    background-color: black;
    color: white;
    padding-left: 05px;
    padding-right: 5px;
    text-align: left;
  }

  
        
        
       
       h3, h4, h5, h6 {
              color: white;
              text-align: center;
            }
        p  {
          color:white;
          text-align: center;
        }
        a:link {
          text-decoration: none;
        }
        
        footer {

          margin: 0%;
          height: 20px;
          position: relative;
          bottom: -1;
          padding-top: 10px;
          background-color: black;
          color: white;
          
        }
        .fa {
          
          font-size: 10px;
          width: 15px;
          text-align: left;
          text-decoration: none;
          margin: 0px 0px 0px 0px;
        }
        .fa:hover {
          opacity: 100.0;
        }
    
    
        .fa-twitter {
          background: #111212;
          color: #e9e3ef;
          text-align: left;
          font-size: 12px;
        }
    
    
        .fa-instagram {
          background: rgb(0, 0, 0);
          color: rgb(242, 230, 230);
          font-size: 12px;
        }
    
        .fa-facebook {
          background: #030303;
          color: rgb(241, 234, 234);
          font-size: 12px;
        }
        
        .fa-youtube {
          background: #030303;
          color: rgb(241, 234, 234);
          font-size: 12px;
        }
        
        .fa-linkedin {
          background: #030303;
          color: rgb(241, 234, 234);
          font-size: 12px;
        }
        
          
          
          
      